<p>Chào bạn: <%= locals.name %></p>
<p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu của bạn</p>
<p>OTP của bạn là: <%= locals.otp %></p>
<p>Có hiệu lực đến: <%= locals.expired %></p>
<p>Trân trọng!</p>
